
.email-mobile {
   width: 100%;
   /* margin-left: 20px; */
}
.email-mobile input{
   width: 500px;
   padding: 10px;
}
.email-mobile input::placeholder{
   font-size: 1rem;
}
.email{
   margin-top: 50px;
}





